doctype html
html
  head
    meta(charset="utf-8")
    title Mirreal's Note
    link(rel="icon", href="images/favicon.ico")
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="javascripts/console.js")
  body
header
  .box
    .box1
    .box2
    .box3
    .box4
    .box5
    .box6
    .box7
  #menu
    #logo
      a(href='/', alt='HOME')
        img(src='images/logo_256.png', height='64')
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='http://blog.mirreal.net', target='_blank') Blog
        li
          a(href='http://blog.mirreal.net/project') Project
        li
          a(href='http://blog.mirreal.net/about') About
        li
          a(href='/contact') Contact
        li
          a(href='/') Console
  .cleaner

block body

#footer_wrapper
  #footer
    .section_w500
      h4 About me
      p 秘锐笔记
      p
        | 热爱互联网，喜欢Web技术，喜欢HTML5，喜欢开源，Linux爱好者，懂点前端技术，还想玩设计。相信互联网将统治世界，期待成为一名卓越的攻城狮。
        a(href='http://blog.mirreal.net/about') more
        | 
    .section_w100
      h4 Links
      ul.footer_list_menu
        li
          a(href='/fling', target='_blank') Fling in Canvas
        li
          a(href='/tower-of-hanoi', target='_blank') Tower of Hanoi
        li
          a(href='/game-of-life', target='_blank') Game of Life
        li
          a(href='/weibo', target='_blank') weibo(development version)
    .section_w200
      .section_douban_weibo.weibo
        a(href='https://weibo.com/taocid', target='_blank')
          | FOLLOW ME
          span on Weibo
      .margin_bottom_20
      .section_douban_weibo.douban
        a(href='https://www.douban.com/people/zgkmranyu', target='_blank')
          | FOLLOW ME
          span on Douban
    .cleaner
  .cleaner
  footer Copyright © 2014. Mirreal Ellison. All rights reserved.
